@font-face {
  font-family: "LcdSolid";
  src: url("./assets/font/LcdSolid.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/font/Outfit.ttf");
}

@font-face {
  font-family: "Urbanist";
  src: url("./assets/font/Urbanist.ttf");
}